.home-heading {
  margin-bottom: 0;
}

.loading-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.course-details-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.failure-view-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failure-view-image {
  width: 400px;
  margin-bottom: 10px;
}

.failure-view-heading {
  color: #475569;
  margin-bottom: 0;
}

.failure-view-description {
  color: #64748b;
}

.failure-view-button {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4656a1;
  color: #ffffff;
  padding: 10px 30px 10px 30px;
  border: none;
}
